.env
.venv/
__pycache__/
*.pyc
.vscode
notebooks/halftime_test.ipynb
data/processed/half_time_result.csv
data/processed/HalftimeDataset.csv
scripts/ht_match.py
documents/Notas para o relatorio.txt
documents/Apresentacao_intermedia_guiao.txt
documents/Apresentacao_final_guiao.txt
documents/Diagrama de Gantt.ods
documents/video_divulgacao_103659.mp4
pregame_model_bin.json
pregame_model.json
dashboard.pbix